<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../champions/champions.css">
    <link rel="stylesheet" href="../global.css">
    <script src="../global.js"></script>
    <title>Title</title>
</head>
<body>
<nav>
    <a href="../templates/summoners.html">
        <img id="logo" src="../img/riot.png" alt="logo">
    </a>
    <a href="../templates/summoners.html">Summoners</a>
    <a href="../templates/matches.html">Matches</a>
    <a href="../templates/champions.html">Champions</a>
</nav>

<script src="../champions/champions.js"></script>
</body>
</html>