<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../matches/matches.css">
    <link rel="stylesheet" href="../global.css">
    <script src="../lib/HTMLEscape.js"></script>
    <script src="../global.js"></script>
    <title>Matches</title>

</head>
<body>
<nav>
    <a href="../templates/summoners.html">
        <img id="logo" src="../img/riot.png" alt="logo">
    </a>
    <a href="../templates/summoners.html">Summoners</a>
    <a href="../templates/matches.html">Matches</a>
    <a href="../templates/champions.html">Champions</a>
</nav>
    <button id="expand-match-form">Matches ➕</button>

    <div id="create-matches-form"></div>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Duration</th>
        <th>End date</th>
        <th>Game type</th>
        <th>Start date</th>
        <th>Behavior</th>
        <th>Summoner id</th>
        <th>Champion id</th>
        <th>Edit match</th>
    </tr>
    </thead>
    <tbody id="matches-tbody">
    <tr>
        <td>
        </td>
    </tr>
    </tbody>

</table>

<script src="../matches/matches.js"></script>
<script src="../matches/createMatches.js"></script>
<script src="../matches/editMatches.js"></script>
</body>
</html>