<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../summoners/summoners.css">
    <link rel="stylesheet" href="../global.css">
    <title>Summoners</title>
    <script src="../global.js"></script>
</head>
<body>

    <input id="summoner-search">
    <button onclick="fetchSummonerFromInput()">Search</button>
    <button onclick="saveSummonerToDb(saveSummoner)">Save</button>

    <h1 id="summoner-name"></h1>
    <h1 id="summoner-summonerLevel"></h1>
    <h1 id="summoner-id"></h1>
    <h1 id="summoner-accountId"></h1>
    <h1 id="summoner-revisionDate"></h1>
    <h1 id="summoner-profileIconId"></h1>
    <h1 id="summoner-puuId"></h1>

<script src="../summoners/summoners.js"></script>

</body>
</html>